.f-container{
    justify-content: space-between;
}

.f-left,.f-end{
    gap: 1rem;
}
.f-right{
    gap: 1rem;
}
.f-end{
    background: var(--main-color-1);
    padding: 1rem 0;
    color: var(--background-color);
    font-size: 13px;
}
.footerImg{
    width: 20%;
}

.f-menu{
    flex-direction: column;
    font-weight: 500;
    gap: .2rem;
    align-items: center;

}

.f-menu>*{
    padding: 0.4rem;
    background: transparent;
    border: none;
    border-radius: 4px;
    transition: all 200ms ease-in;
}
.f-menu >:hover {
    cursor: pointer;
    transform: scale(1);
    color: white;
    background:var(--main-color-1);
   
  }
 
@media (max-width:768px) {
    .f-container{justify-content: space-between;}
    .f-container>div{
        width: 50%;
    }
    .f-menu{
font-size: 13px;
    }
   
    @media (max-width: 450px) {
        
        .footerImg{
            width: 15%;
        }
      }
    
}